{% extends "template.html" %}
{% block content %}

<div class="content">
    <h1 id="titulo">{{titulo}}</h1>
    <div class="text">
        <p>O Development Team, também conhecido como Time de Desenvolvimento, é um dos três papéis-chave dentro do
            Scrum, desempenhando principalmente na entrega ao cliente e no sucesso do projeto. Este grupo
            multifuncional é composto por profissionais que têm as habilidades necessárias para transformar os itens
            do backlog do produto em melhorias gradativas do produto para entrega.</p>

        <p>Uma das características do Development Team é a sua organização. Os membros do time têm a
            responsabilidade de decidir como realizar o trabalho da maneira mais eficaz. Essa autonomia incentiva a
            colaboração e a inovação, permitindo que o time escolha as melhores abordagens para atingir os objetivos
            do projeto.

            A colaboração contínua e a comunicação eficaz são essenciais para o sucesso da equipe. Os membros
            trabalham juntos, compartilhando conhecimento e responsabilidades para entregar ao cliente o produto
            desejado. Isso promove a excelência técnica e o desenvolvimento de produtos de alta qualidade.</p>

        <p>O Development Team é também responsável por dividir o trabalho em Sprints, que são períodos de tempo
            predefinidos durante os quais o time se compromete a entregar incrementos de produto. Eles colaboram com
            o Product Owner para entender os requisitos do cliente e com o Scrum Master para garantir que o trabalho
            seja realizado de acordo com os princípios do Scrum.</p>

        <div class="img">
            <img src="{{ url_for('static', filename='/imgs/devTeam.png') }}" alt=" Dev Team">
        </div>
        <p>Além disso, o Development Team é adaptável á mudanças. Durante a sprint review, o time decide quais itens
            serão incluídos na Sprint e como eles serão abordados. Isso permite que o time seja flexível e capaz de
            se ajustar às mudanças do projeto, garantindo que o produto final atenda às necessidades do cliente.</p>
        <p>Em resumo, o Development Team desempenha um papel principal no Scrum, sendo responsável por transformar
            os requisitos do cliente em incrementos do produto. Sua organização, colaboração e capacidade de
            adaptação são elementos necessarios que contribuem para o sucesso do Scrum, permitindo entregas
            frequentes e eficazes que atendem às expectativas do cliente.</p>
    </div>

    <div class="boxPerguntas">
        <div class="perguntasHeader">
            <p>Multipla Escolha</p>
        </div>

        <div class="perguntasTexto">
            Qual é o princípio-chave que orienta o trabalho do Development Team no Scrum?
        </div>

        <div class="perguntasAlternativas">
            <form>
                <div class="alternativas errada">
                    <input type="radio" name="resp">
                    <label>Maximize o tempo dedicado a reuniões formais.</label><br>
                </div>

                <div class="alternativas errada">
                    <input type="radio" name="resp">
                    <label>Priorize a conclusão rápida do sprint, mesmo que a qualidade seja comprometida.</label><br>
                </div>

                <div class="alternativas" id="certa">
                    <input type="radio" name="resp">
                    <label>Auto-organização e colaboração para atingir os objetivos do sprint.</label><br>
                </div>

                <div class="alternativas errada">
                    <input type="radio" name="resp">
                    <label>Dependa exclusivamente do Scrum Master para tomar decisões técnicas.</label><br>
                </div>
              </form>
        </div>

        <button class="enviar" id="send"><p>ENVIAR</p></button>
    </div>
</div>
{% endblock %}