{% extends "template.html" %}
{% block content %}
<div class="content">
    <h1 id="titulo">{{titulo}}</h1>
    <div class="text">
        <p>O Product Owner é uma das figuras centrais no Scrum, desempenhando um papel fundamental na definição e no
            sucesso do projeto. Este profissional é o elo crucial entre a equipe e os clientes, desempenhando um
            papel multifacetado.</p>

        <p>Em primeiro lugar, o Product Owner é o responsável por definir e manter o backlog do produto, uma lista
            priorizada de funcionalidades, requisitos e melhorias que representam o trabalho a ser realizado no
            projeto. Sua habilidade de compreender as necessidades e expectativas dos clientes é vital para garantir
            que o backlog reflita de maneira precisa os objetivos do projeto.</p>

        <p> Além disso, o Product Owner desempenha um papel importante na definição da visão do produto. Ele
            trabalha em estreita colaboração com os clientes para compreender os requisitos e expectativas do
            cliente, traduzindo essas informações em um plano claro para o desenvolvimento do produto. Essa visão
            orienta a equipe e fornece uma direção clara para o projeto.</p>

        <div class="img">
            <img src="{{ url_for('static', filename='/imgs/productOwner.png') }}" alt=" Product Owner">
        </div>
        <p>Outra responsabilidade do Product Owner é participar ativamente das cerimônias do Scrum, como a Reunião
            de Planejamento da Sprint e a Sprint Review. Durante a reunião de planejamento, ele ajuda a equipe a
            entender os itens do backlog e a definir o objetivo da Sprint. Na revisão da sprint, ele avalia o
            trabalho realizado e garante que as entregas estejam alinhadas com a visão do produto.</p>
        <p>Por fim, o Product Owner é um tomador de decisões, priorizando constantemente o trabalho com base no
            valor e nas necessidades do cliente. Ele também é flexível e capaz de se adaptar a mudanças nas
            prioridades à medida que o projeto evolui. A capacidade de equilibrar as demandas dos clientes com os
            recursos disponíveis é uma necessidade para o sucesso do projeto.</p>
        <p>Em resumo, o Product Owner é uma peça fundamental no quebra-cabeça do desenvolvimento ágil. A capacidade
            de definir, priorizar e comunicar as necessidades dos clientes é essencial para o sucesso do projeto,
            garantindo que a equipe esteja alinhada com as expectativas do cliente e que o produto final atenda às
            necessidades do mercado.</p>
    </div>

    <div class="boxPerguntas">
        <div class="perguntasHeader">
            <p>Multipla Escolha</p>
        </div>

        <div class="perguntasTexto">
            Qual é a importância do Product Owner na metodologia Scrum?
        </div>

        <div class="perguntasAlternativas">
            <form>
                <div class="alternativas errada">
                    <input type="radio" name="resp">
                    <label>Escrever código e implementar funcionalidades do produto.</label><br>
                </div>

                <div class="alternativas errada">
                    <input type="radio" name="resp">
                    <label>Encarregado de criar a infraestrutura de desenvolvimento.</label><br>
                </div>

                <div class="alternativas" id="certa">
                    <input type="radio" name="resp">
                    <label>Responsável por representar os interesses dos clientes e definir o backlog do produto</label><br>
                </div>

                <div class="alternativas errada">
                    <input type="radio" name="resp">
                    <label>Encarregado de fornecer suporte técnico aos usuários finais.</label><br>
                </div>
              </form>
        </div>

        <button class="enviar" id="send"><p>ENVIAR</p></button>
    </div>
{% endblock %}