{% extends "template.html" %}
{% block content %}

<div class="content">
    <h1 id="titulo">{{titulo}}</h1>
    <div class="text">
        <p>
            Os artefatos do framework ágil Scrum são elementos-chave usados para planejar, gerenciar e entregar
            trabalhos em projetos ágeis.
            Eles desempenham um papel fundamental na organização, comunicação e transparência do processo, tanto
            para a equipe quanto para o cliente.
        </p>
        <p>
            Esses artefatos do Scrum são essenciais para que as equipes Scrum planejem e executem processos de forma
            iterativa
            (incrementações e melhorias são adicionadas aos poucos) e colaborativa, além auxiliar na entrega de
            valor em cada processo do projeto.
        </p>
        <p>
            Por promoverem a transparência, a priorização adequada e a entrega contínua de valor ao cliente, fazem o
            Scrum se tornar um
            framework eficaz para projetos de desenvolvimento de software e inúmeros outros tipos de projetos que
            priorizem uma equipe proativa, comunicativa e funcional.
            Os artefatos que serão visto ao decorrer dos estudos são:
        </p>
        <ol>
            <li>Backlog do Produto </li>
            <li>Backlog da Sprint </li>
            <li>Incremento </li>
            <li>Definição de Concluído </li>
            <li>Burndown Chart </li>
        </ol>

        <p>
            A imagem a seguir é possível verificar visualmente as etapas em que artefatos são utilizados numa
            Sprint, observe:
        </p>
        <div class="img">
            <img src="{{ url_for('static', filename='/imgs/scrumArtefatos.jpg') }}"" alt=" Artefatos"
                style="width: 70%;">
        </div>
    </div>
</div>
{% endblock %}