{% extends "Template.html" %}
{% block content %}

<body style="height: 1200px;">

</body>

<p>
    Artefatos no Método Scrum: Documentando e Priorizando o Trabalho
    Os artefatos no método Scrum são documentos e ferramentas que auxiliam na organização, priorização e comunicação do
    trabalho dentro da equipe. Eles são essenciais para manter a transparência e a colaboração ao longo do ciclo de
    desenvolvimento. Os principais artefatos no Scrum incluem:</p>
<ol>
    <li>Backlog do Produto:</li>
    <ul>
        <li> O Backlog do Produto é uma lista priorizada de todas as funcionalidades, melhorias e requisitos do produto.
        </li>
        <li> É de responsabilidade do Product Owner gerenciar e manter o Backlog, garantindo que os itens mais
            importantes
            estejam no topo.</li>
    </ul>
    <li>Sprint Backlog:</li>
    <ul>
        <li> O Sprint Backlog é uma seleção de itens do Backlog do Produto que a equipe de desenvolvimento compromete-se
            a
            concluir durante uma Sprint.</li>
        <li>Ele é criado durante o Sprint Planning e serve como um plano de trabalho para a Sprint atual.</li>
    </ul>
    <li>Incremento:</li>
    <ul>
        <li> O Incremento é o resultado do trabalho concluído pela equipe de desenvolvimento durante uma Sprint.</li>
        <li> É uma versão potencialmente entregável do produto que contém as funcionalidades concluídas no Sprint.</li>
    </ul>
    <li>Definição de Pronto (Definition of Done):</li>
    <ul>
        <li> A Definição de Pronto é um conjunto de critérios que estabelece quando uma funcionalidade ou tarefa é
            considerada
            concluída.</li>
        <li>Ela varia de projeto para projeto e é uma ferramenta importante para garantir a qualidade do trabalho.</li>
    </ul>
</ol>

<div class="img">
    <img src="{{ url_for('static', filename='artefatos.png') }}"" alt=" Artefatos">
</div>
<p>Benefícios dos Artefatos no Scrum:</p>
<ul>
    <li>Transparência: Os artefatos tornam o trabalho e as prioridades visíveis para todos os membros da equipe e
        stakeholders, promovendo a transparência.</li>
    <li>Comunicação Efetiva: Eles facilitam a comunicação e a colaboração entre as partes interessadas, ajudando a
        equipe a
        manter todos informados.</li>
    <li>Priorização: O Backlog do Produto permite que o Product Owner e a equipe priorizem o trabalho com base nas
        necessidades e expectativas do cliente.</li>
    <li>Acompanhamento do Progresso: Os artefatos ajudam a equipe a rastrear o progresso do trabalho, garantindo que
        metas e
        prazos sejam cumpridos.</li>
    <li>Melhoria Contínua: Eles fornecem dados e insights que podem ser usados para melhorar continuamente o processo de
        desenvolvimento.</li>
</ul>
<p> Em resumo, os artefatos no Scrum desempenham um papel fundamental na organização, priorização e comunicação do
    trabalho, contribuindo para a eficiência e eficácia das equipes de desenvolvimento ágil. Eles são ferramentas
    valiosas para manter a equipe alinhada com as necessidades do cliente e garantir a entrega de valor de forma
    consistente.</p>


{% endblock %}