{% extends "Template.html" %}
{% block content %}

<body style="height: 2100px">

</body>

<p> <span style="font-weight: bold;"> O que é:</span> O Burndown Chart é um gráfico que mostra o progresso da equipe
    durante uma Sprint, exibindo o trabalho restante ao longo do tempo.</p>
<p> <span style="font-weight: bold;">Função:</span> Ele ajuda a equipe a monitorar o ritmo de trabalho, identificar
    desvios em relação ao plano e garantir que todas as tarefas sejam concluídas até o final da Sprint.</p>
<p> <span style="font-weight: bold;">Responsável:</span>A equipe de desenvolvimento usa o Burndown Chart para acompanhar
    seu próprio progresso e fazer ajustes, se necessário.</p>

<p>
    A Burndown Chart é uma ferramenta gráfica usada na metodologia Scrum para visualizar o progresso do trabalho durante
    uma Sprint. Ela ajuda a equipe de desenvolvimento a acompanhar o ritmo do trabalho, identificar desvios em relação
    ao plano e garantir que todas as tarefas sejam concluídas até o final da Sprint. Aqui estão os principais aspectos
    da Burndown Chart:
</p>
<h3>Características da Burndown Chart</h3>

<p> <span style="font-weight: bold;">Eixo X (horizontal):</span> O eixo horizontal representa o tempo, geralmente em
    dias, com o início da Sprint à esquerda e o final da Sprint à direita.</p>

<p> <span style="font-weight: bold;">Eixo Y (vertical):</span>O eixo vertical representa a quantidade de trabalho
    restante, geralmente em horas, pontos de história ou qualquer outra unidade de medida usada pela equipe.</p>

<p> <span style="font-weight: bold;">Linha de Progresso: </span> A Burndown Chart inclui uma linha de progresso que
    conecta os pontos que representam a quantidade de trabalho restante a cada dia.</p>

<p> <span style="font-weight: bold;">Muitas Burndown Charts também incluem uma linha de referência ideal que representa
        o ritmo ideal de trabalho necessário para concluir todas as tarefas até o final da Sprint.</p>

<h3>Funções da Burndown Chart</h3>

<p> <span style="font-weight: bold;">Acompanhamento de Progresso:</span>A principal função da Burndown Chart é permitir
    que a equipe de desenvolvimento acompanhe o progresso diariamente. Ela fornece uma representação visual clara do
    trabalho restante ao longo do tempo.</p>

<p> <span style="font-weight: bold;">Identificação de Desvios:</span>A equipe pode identificar desvios em relação à
    linha de referência ideal. Se a linha de progresso estiver acima da linha ideal, isso pode indicar que a equipe está
    atrasada. Se estiver abaixo, pode indicar que estão à frente do planejado.</p>

<p> <span style="font-weight: bold;">Tomada de Decisões: </span> O Product Backlog é a fonte de trabalho para o Sprint
    Backlog,
    que é criado durante o planejamento da Sprint. Ele serve como base para a seleção de itens a serem trabalhados na
    Sprint atual.</p>

<p> <span style="font-weight: bold;">Transparência</span>Com base nas informações da Burndown Chart, a equipe pode tomar
    decisões sobre como ajustar o trabalho restante para garantir que tudo seja concluído até o final da Sprint.</p>

<h3>Exemplo Prático</h3>

<p>
    Suponha que a equipe de desenvolvimento está no terceiro dia de uma Sprint de duas semanas. No primeiro dia, o total
    de trabalho restante era de 80 horas. No segundo dia, diminuiu para 60 horas e, no terceiro dia, para 40 horas. A
    linha de progresso no gráfico conecta esses pontos. Além disso, a linha de referência ideal mostra que, para
    concluir todas as tarefas até o final da Sprint, a equipe deve ter uma redução linear de 80 horas para 0 horas.
<p>
    Se a linha de progresso estiver acompanhando a linha ideal, a equipe está no caminho certo. Se estiver acima da
    linha ideal, a equipe pode precisar aumentar o ritmo de trabalho. Se estiver abaixo, estão adiantados, o que pode
    indicar que podem adicionar mais tarefas ou alocar recursos em outras atividades.
</p>
<p>
    A Burndown Chart é uma ferramenta de controle crucial que ajuda a equipe de desenvolvimento a tomar decisões
    informadas durante a Sprint, a manter o trabalho sob controle e a garantir que todas as tarefas sejam concluídas até
    o final do período planejado.
</p>

<div class="img">
    <img src="{{ url_for('static', filename='productBacklog.png') }}"" alt=" Product Backlog">
</div>

{% endblock %}