{% extends "Template.html" %}
{% block content %}

<body style="height: 1100px;">

</body>
<div class="img">
    <img src="{{ url_for('static', filename='DOR.png') }}"" alt=" DOR">
</div>
<p>Definition of Ready (DOR) no Método Scrum: Preparando Tarefas para o Sucesso
    A "Definition of Ready" (DOR) é um conjunto de critérios e requisitos que uma tarefa, funcionalidade ou item do
    Backlog do Produto deve atender antes de ser selecionado para inclusão no Sprint Backlog e, posteriormente, ser
    trabalhado pela equipe de desenvolvimento. A DOR é uma ferramenta importante no método Scrum para garantir que o
    trabalho seja bem definido e adequado para ser executado com sucesso.
    Principais Aspectos da Definition of Ready (DOR):
</p>
<ol>
    <li>Descrição Completa: A tarefa ou item do Backlog do Produto deve ter uma descrição clara e detalhada que explica
        o
        que precisa ser feito.</li>
    <li>Critérios de Aceitação: Deve incluir critérios de aceitação bem definidos que estabelecem os padrões para quando
        a
        tarefa for considerada concluída.</li>
    <li>Priorização: A tarefa deve ser priorizada e alinhada com os objetivos e necessidades do cliente.</li>
    <li> Estimativas de Esforço: Deve haver uma estimativa de esforço razoável associada à tarefa para ajudar na
        alocação
        adequada de recursos.</li>
    <li>Recursos Disponíveis: A equipe deve ter os recursos e conhecimentos necessários para executar a tarefa de forma
        eficaz.</li>
    <li>Independência: A tarefa não deve depender de outras tarefas não concluídas ou de recursos externos que não
        estejam
        prontamente disponíveis.</li>
    <li>Desenvolvimento Paralelo: Deve ser possível que a tarefa seja trabalhada em paralelo com outras, quando
        apropriado.</li>
</ol>
<p>Benefícios da Definition of Ready (DOR):</p>

<ul>
    <li> Redução de Ambiguidade: Garante que as tarefas sejam bem definidas, evitando mal-entendidos e ambiguidade.</li>
    <li> Maior Eficiência: Permite que a equipe comece a trabalhar em uma tarefa imediatamente, sem a necessidade de
        revisões
        adicionais.</li>
    <li>Qualidade Garantida: Ajuda a manter um alto padrão de qualidade, pois as expectativas são claras desde o início.
    </li>
    <li> Previsibilidade: Contribui para estimativas mais precisas de prazos e esforço, melhorando a previsibilidade do
        projeto.</li>
    <li>Colaboração Aprimorada: Promove a comunicação e a colaboração entre o Product Owner e a equipe de
        desenvolvimento
        para garantir que o trabalho esteja alinhado com as metas do projeto.</li>
</ul>
<p>Em resumo, a Definition of Ready (DOR) no método Scrum é uma ferramenta valiosa para garantir que as tarefas
    selecionadas para uma Sprint atendam a critérios específicos, o que resulta em um processo de desenvolvimento mais
    eficaz e na entrega de produtos de alta qualidade. Ela ajuda a equipe a se preparar adequadamente para o sucesso
    durante a execução do trabalho.</p>

{% endblock %}