{% extends "template.html" %}
{% block content %}

<div class="content">
    <h1 id="titulo">{{titulo}}</h1>
    <div class="text">
        <p> <span style="font-weight: bold;"> O que é:</span> A Definição de Concluído é um conjunto de critérios
            que uma tarefa
            deve atender para ser considerada completa.</p>
        <br>
        <p> <span style="font-weight: bold;">Função:</span> Ela ajuda a manter a qualidade do trabalho e a
            consistência em todo
            o projeto, garantindo que as tarefas cumpram padrões aceitáveis antes de serem consideradas prontas.</p>
        <br>
        <p> <span style="font-weight: bold;">Responsável:</span>A equipe de desenvolvimento estabelece e mantém a
            Definição de
            Concluído, adaptando-a conforme necessário.</p>
        <br>
        <p>
            A Definição de Concluído (Definition of Done, em inglês) é um conceito fundamental na metodologia Scrum.
            Ela
            representa um conjunto de critérios específicos que uma tarefa, uma funcionalidade ou qualquer outro
            elemento de
            trabalho deve atender para ser considerado completo e pronto para entrega. A Definição de Concluído é
            uma parte
            crucial do Scrum, pois garante a qualidade, consistência e transparência do trabalho realizado. Aqui
            estão os
            principais aspectos da Definição de Concluído:
        </p>

        <h3>Características da Definição de Concluído:</h3>

        <p> <span style="font-weight: bold;">Personalização: </span> A Definição de Concluído é geralmente definida
            pela equipe
            de desenvolvimento de acordo com as necessidades e padrões específicos do projeto.</p>
        <br>
        <p> <span style="font-weight: bold;"> Critérios Claros</span> Ela contém critérios de qualidade específicos
            e
            mensuráveis que precisam ser atendidos. Isso ajuda a evitar ambiguidades sobre o que é considerado
            "concluído".</p>
        <br>
        <p> <span style="font-weight: bold;">Evolutiva:</span> A Definição de Concluído pode ser atualizada ou
            adaptada ao longo
            do tempo, à medida que a equipe ganha experiência e o projeto evolui.</p>

        <h3>Funções da Definição de Concluído</h3>

        <p> <span style="font-weight: bold;">Garantia de Qualidade:</span> A principal função da Definição de
            Concluído é
            garantir que o trabalho atenda a padrões de qualidade aceitáveis antes de ser entregue. Isso inclui
            critérios como
            testes de unidade, testes de aceitação, revisões de código e outros aspectos relacionados à qualidade.
        </p>
        <br>
        <p> <span style="font-weight: bold;">Transparência:</span> Ela promove a transparência ao deixar claro o que
            é esperado
            de uma tarefa para ser considerada completa. Isso ajuda a equipe e as partes interessadas a entenderem o
            que está
            sendo entregue.
        </p>
        <br>
        <p> <span style="font-weight: bold;">Consistência:</span> A Definição de Concluído ajuda a manter um padrão
            consistente
            em todo o projeto, garantindo que todas as tarefas ou funcionalidades sigam os mesmos critérios de
            conclusão.</p>

        <h3>Exemplo Prático</h3>

        <p>
            Suponha que a equipe de desenvolvimento de um projeto de desenvolvimento de software tenha definido a
            seguinte
            Definição de Concluído para suas tarefas:</p>
        <br><br>
        <li>Todos os testes unitários devem passar.</li>
        <li>O código-fonte deve ser revisado por pelo menos um colega de equipe.</li>
        <li>A documentação de usuário deve ser atualizada. </li>
        <li>Todas as dependências externas devem ser resolvidas.</li>
        <li>A funcionalidade deve ser testada em diferentes navegadores e dispositivos.</li>
        <br>
        <p>Neste exemplo, cada vez que um membro da equipe conclui uma tarefa, ele verifica se todos esses critérios
            são
            atendidos e somente quando todos os critérios recebem um "OK", a tarefa é considerada "concluída" de
            acordo com a Definição de
            Concluído da equipe. Isso ajuda a garantir que o trabalho realizado seja de alta qualidade e pronto para
            entrega ao cliente. </p>
        <br>
        <p>
            A Definição de Concluído é uma prática fundamental quando o assunto é manter a qualidade e a integridade
            dos trabalhos realizados em um projeto
            Scrum, ajudando a equipe a manter padrões de qualidade altos e aceitáveis, enquanto promove a
            transparência e ajuda a evitar retrabalho.
            Não há um padrão para realização da Definição de Pronto e nem nada oficial que deva ser usada por todas
            as equipes e isto se dá pois é preciso considerar a complexidade
            do projeto. Assim, cada equipe é única e estará resolvendo um problema dentro de um contexto único. Por
            isso, cada equipe deverá descobrir o que deve fazer parte de sua Definição de Pronto de acordo com seu
            contexto e realidade, ou
            seja, levando em consideração a natureza do produto, a tecnologia que está sendo utilizada e as
            necessidades dos
            usuários.
        </p>
    </div>

    <div class="boxPerguntas">
        <div class="perguntasHeader">
            <p>Multipla Escolha</p>
        </div>

        <div class="perguntasTexto">
            Qual é o propósito principal da "Definition of Done" no Scrum?    
        <div class="perguntasAlternativas">
            <form>
                <div class="alternativas errada">
                    <input type="radio" name="resp">
                    <label>a) A "Definition of Done" é uma lista de tarefas específicas a serem realizadas por cada membro da equipe de desenvolvimento durante uma Sprint.</label><br>
                </div>

                <div class="alternativas errada">
                    <input type="radio" name="resp">
                    <label>b) A "Definition of Done" define as metas de desempenho da equipe de desenvolvimento em termos de velocidade e produtividade.</label><br>
                </div>

                <div class="alternativas" id="certa">
                    <input type="radio" name="resp">
                    <label>c) A "Definition of Done" estabelece os critérios que um item do Product Backlog deve atender para ser considerado completo e potencialmente entregável.</label><br>
                </div>

                <div class="alternativas errada">
                    <input type="radio" name="resp">
                    <label>d) A "Definition of Done" é um documento que apenas o Product Owner deve conhecer para garantir que o produto esteja alinhado com a visão do projeto.</label><br>
                </div>
              </form>
        </div>

        <button class="enviar" id="send"><p>ENVIAR</p></button>
    </div>
</div>
{% endblock %}