{% extends "template.html" %}
{% block content %}

<div class="content">
    <h1 id="titulo">{{titulo}}</h1>
    <div class="text">
        <p> <span style="font-weight: bold;"> O que é:</span> O Incremento é o resultado potencialmente entregável
            ao final de
            uma Sprint. É uma versão funcional do produto que inclui todas as funcionalidades concluídas durante a
            Sprint, já
            definidas anteriormente.</p> <br>
        <p> <span style="font-weight: bold;">Função:</span> O incremento é uma parte do produto que pode ser testada
            e, se
            necessário, implantada imediatamente. Ele permite entregas iterativas e frequentes de valor ao cliente.
        </p><br>
        <p> <span style="font-weight: bold;">Responsável:</span>A equipe de desenvolvimento é responsável por criar
            o
            Incremento, garantindo que ele atenda aos critérios de conclusão estabelecidos na Definição de Concluído
            que será
            explicada a seguir.</p>
        <br>
        <p>
            O Incremento é um conceito fundamental na metodologia Scrum. Ele é um dos artefatos principais deste
            framework ágil
            e representa o resultado potencialmente entregável ao final de uma Sprint, embora não seja
            necessariamente
            implantada imediatamente. Sendo uma parte essencial do Scrum, ele permite entregas frequentes e
            possibilita que o
            cliente receba valor mesmo antes do término do projeto. A seguir está uma explicação detalhada sobre o
            Incremento na
            metodologia Scrum:
        </p>
        <h3>Características do Incremento:</h3>

        <p> <span style="font-weight: bold;">Resultante da Sprint</span> O Incremento é a soma de todo o trabalho
            realizado
            durante a Sprint atual. Isso inclui todas as funcionalidades, correções e melhorias concluídas durante
            esse período.
        </p><br>

        <p> <span style="font-weight: bold;">Funcional:</span> O Incremento é funcional, o que significa que é uma
            versão do
            produto que contém funcionalidades que podem ser testadas e, se necessário, implantadas. É um incremento
            real de
            valor.</p><br>

        <p> <span style="font-weight: bold;">Testado</span> Idealmente, o Incremento é testado e passa em todos os
            critérios de
            qualidade estabelecidos pela equipe, garantindo que esteja pronto para entrega e com suas
            funcionalidades concluídas
            e testadas.</p><br>

        <p> <span style="font-weight: bold;">Pronto para revisão:</span> No final da Sprint, o Incremento está
            pronto para ser
            revisado pelo Product Owner e outras partes interessadas. Isso permite uma avaliação imediata do
            progresso.</p>

        <h3>Funções do Incrementp:</h3>

        <p> <span style="font-weight: bold;">Avaliação de Progresso:</span>O Incremento permite à equipe de
            desenvolvimento e às
            partes interessadas avaliarem o que foi concluído durante a Sprint. Ele atua como um indicador claro de
            progresso,
            permitindo ajustes e melhorias contínuas de maneira facilitada.</p>
        <br>
        <p> <span style="font-weight: bold;">Transparência e Inspeção:</span>O Incremento promove a transparência ao
            tornar o
            trabalho visível e disponível para revisão. Isso incentiva a inspeção regular para garantir que o
            trabalho esteja de
            acordo com as expectativas e necessidades do cliente, minimizando riscos.</p>
        <br>
        <p> <span style="font-weight: bold;">Entrega Contínua de Valor:</span> O Incremento potencialmente
            entregável
            possibilita entregas frequentes de valor ao cliente. Mesmo que não seja implantado imediatamente, está
            pronto para
            entrega a qualquer momento.</p>

        <h3>Exemplo Prático</h3>

        <p>
            Vamos continuar com o exemplo do aplicativo de gerenciamento de tarefas. Suponha que a equipe de
            desenvolvimento
            tenha trabalhado durante uma Sprint de duas semanas e que o Incremento potencialmente entregável
            consista nas
            seguintes funcionalidades: </p>
        <br>
        <li>Adicionar funcionalidade de notificações push</li>
        <li>Melhorar a interface de usuário</li>
        <li>Integrar uma barra de pesquisa aprimorada</li>
        <li>Autenticação de usuário integrada com sistemas externos</li>

        <br>
        <p>
            Ao final da Sprint, essas funcionalidades foram desenvolvidas, testadas e atendem aos critérios de
            qualidade
            estabelecidos pela equipe (Definição de Concluído). O Incremento resultante inclui todas essas
            funcionalidades,
            tornando-o uma versão funcional do produto.
        </p><br>
        <p>
            O Product Owner pode revisar o Incremento para garantir que atenda às expectativas e pode optar por
            implantá-lo
            imediatamente ou em um momento posterior, dependendo das necessidades do cliente.
        </p><br>
        <p>
            O Incremento é uma parte central do Scrum, pois representa o resultado tangível do trabalho da equipe em
            cada
            Sprint. Ele enfatiza a entrega contínua de valor, a transparência e a inspeção regulares, permitindo que
            as
            equipes
            de desenvolvimento entreguem um produto de alta qualidade de forma iterativa e incremental.
        </p>
    </div>

    <div class="boxPergunta">
        <div class="perguntasHeader">
            <p>Multipla Escolha</p>
        </div>

        <div class="perguntasTexto">
            Qual é a definição de "incremento" em relação a uma Sprint no Scrum?
        </div>

        <div class="boxAlternativas">
            <form>
                <div class="alternativas" id="certa">
                    <input type="radio" name="resp">
                    <label>a) O incremento é o resultado de uma Sprint, que deve ser uma versão funcional e potencialmente entregável do produto.</label><br>
                </div>

                <div class="alternativas">
                    <input type="radio" name="resp">
                    <label>b) O incremento é a soma de todos os itens do Product Backlog que foram discutidos durante a Sprint Planning.</label><br>
                </div>

                <div class="alternativas">
                    <input type="radio" name="resp">
                    <label>c) O incremento é o conjunto de tarefas concluídas pela equipe de desenvolvimento durante uma Sprint, independentemente de serem integráveis ou não.</label><br>
                </div>

                <div class="alternativas">
                    <input type="radio" name="resp">
                    <label>d) O incremento é uma lista de tarefas pendentes que a equipe de desenvolvimento planeja abordar na próxima Sprint.</label><br>
                </div>
              </form>
        </div>

        <button class="enviar" id="send"><p>ENVIAR</p></button>
    </div>
</div>

<div class="marginFooter"></div>
{% endblock %}