{% extends "Template.html" %}
{% block content %}

<body style="height: 1100px">

</body>

<p>Product Backlog no Scrum: Moldando o Futuro do Produto</p>
<p> O Product Backlog é um dos principais artefatos do método Scrum e serve como uma lista prioritária de
    funcionalidades, melhorias e requisitos do produto. Neste resumo, destacaremos a importância do Product Backlog e
    suas características essenciais.</p>

<p> Características Principais do Product Backlog:</p>
<ol>
    <li>Priorização: O Product Backlog é priorizado pelo Product Owner com base nas necessidades dos clientes e partes
        interessadas. Os itens mais importantes e valiosos estão no topo da lista.</li>
    <li>Evolução Contínua: O Product Backlog está em constante evolução. Novos itens podem ser adicionados, e itens
        existentes podem ser refinados à medida que a compreensão das necessidades do cliente evolui.</li>
    <li>Visão do Produto: O Product Backlog reflete a visão geral do produto, permitindo que todos os envolvidos
        compreendam
        as metas e objetivos de longo prazo.</li>
    <li> Descrição Clara: Cada item no Product Backlog é descrito de forma clara e concisa, com critérios de aceitação
        definidos, para que a equipe compreenda totalmente o que deve ser entregue.</li>
</ol>

<div class="img">
    <img src="{{ url_for('static', filename='productBacklog.png') }}"" alt=" Product Backlog">
</div>
<p>Benefícios do Product Backlog:</p>
<ul>
    <li> Alinhamento: Garante que toda a equipe esteja alinhada com as prioridades e objetivos do produto, evitando
        trabalhos
        desnecessários ou desalinhados.</li>
    <li> Transparência: Torna o progresso do trabalho visível para todos os membros da equipe e stakeholders, promovendo
        a
        transparência no processo.</li>
    <li>Adaptabilidade: Permite que o produto se adapte às mudanças nas necessidades do cliente, mantendo-o relevante e
        valioso ao longo do tempo.</li>
    Tomada de Decisão Informada: Facilita a tomada de decisão informada pelo Product Owner, ajudando-o a escolher as
    próximas funcionalidades com base em dados e feedback.</li>
    <li>Planejamento Eficaz: Serve como base para o Sprint Planning, onde a equipe seleciona itens do Product Backlog
        para
        trabalhar durante o próximo Sprint.</li>
</ul>
<p> Em resumo, o Product Backlog é uma ferramenta essencial no Scrum que ajuda a moldar o futuro do produto. Ele permite
    que a equipe priorize o trabalho, mantenha-se alinhada com as necessidades do cliente e entregue valor de forma
    consistente ao longo do tempo. Sua flexibilidade e adaptabilidade são fundamentais para o sucesso de projetos ágeis.
</p>

{% endblock %}