{% extends "template.html" %}
{% block content %}

<div class="content">
    <h1 id="titulo">{{titulo}}</h1>
    <div class="text">
        <p> <span style="font-weight: bold;"> O que é:</span> o Product Backlog é uma lista priorizada de
            todos os requisitos, funcionalidades, melhorias e correções desejadas para o produto.</p>
        <br>
        <p> <span style="font-weight: bold;">Função:</span> Ele serve como a lista mestra do trabalho a ser
            realizado no
            projeto. O Product Backlog é a fonte de todas as
            demandas do cliente e do mercado,
            permitindo que a equipe de desenvolvimento saiba o que deve ser feito a seguir</p>
        <br>
        <p> <span style="font-weight: bold;">Responsável:</span>O Product Owner é responsável por criar e manter o
            Product
            Backlog, garantindo que ele esteja sempre atualizado à medida que novas necessidades e ideias surgem.
        </p>
        <br>
        <p>
            De forma mais precisa, o Product Backlog (A lista de itens do produto) é um dos principais artefatos do
            Scrum e
            desempenha
            um papel crucial
            no gerenciamento dos projetos ágeis, auxiliando o time numa visão completa do projeto, antes mesmo de
            ver o trabalho
            em andamento. Ele é uma lista priorizada e dinâmica de todos os requisitos, funcionalidades,
            melhorias e correções desejadas para o produto em desenvolvimento. Agora vamos aprofundar a compreensão
            do Product
            Backlog, uma ferramenta indispensável no método estudado:
        </p>
        <h3>Características do Product Backlog:</h3>

        <p> <span style="font-weight: bold;">Priorização:</span> Os itens do Product Backlog são organizados de
            acordo com sua
            importância e valor para o cliente. Os itens mais cruciais estão no topo, e aqueles menos importantes
            estão na parte
            inferior.</p>
        <br>

        <p> <span style="font-weight: bold;"> Visão em Evolução:</span> O Product Backlog é uma representação
            contínua da visão
            do produto, e é atualizado conforme novas ideias, feedback do cliente ou mudanças no mercado surgem.</p>
        <br>
        <p> <span style="font-weight: bold;">Propriedade do Product Owner:</span> O Product Owner é o responsável
            por criar,
            manter e priorizar o Product Backlog. Eles representam as necessidades do cliente e o valor de negócio.
        </p>
        <br>
        <p> <span style="font-weight: bold;">Itens Variados:</span> O Product Backlog pode conter uma ampla
            variedade de itens,
            desde funcionalidades de alto nível até tarefas técnicas ou correções de bugs.</p>

        <h3>Funções do Product Backlog:</h3>

        <p> <span style="font-weight: bold;">Comunicação:</span> O Product Backlog atua como um ponto central de
            comunicação
            entre o Product Owner, a equipe de desenvolvimento e outros stakeholders. Ele reflete as necessidades e
            expectativas
            do cliente.</p>
        <br>
        <p> <span style="font-weight: bold;">Definir prioridades:</span> Ele ajuda a determinar quais itens devem
            ser abordados
            primeiro, permitindo que a equipe se concentre nas tarefas mais importantes.</p>
        <br>
        <p> <span style="font-weight: bold;">Planejamento</span> O Product Backlog é a fonte de trabalho para o
            Sprint Backlog,
            que é criado durante o planejamento da Sprint. Ele serve como base para a seleção de itens a serem
            trabalhados na
            Sprint atual.</p>
        <br>
        <p> <span style="font-weight: bold;">Transparência</span>A transparência é um dos princípios-chave do Scrum.
            O Product
            Backlog fornece visibilidade sobre o que está por vir no projeto, ajudando a eliminar surpresas e
            incertezas.</p>

        <h3>Exemplo Prático</h3>

        <p>
            Imagine um projeto de desenvolvimento de um aplicativo de gerenciamento de tarefas. O Product Backlog
            para esse
            projeto pode incluir os seguintes itens:
            <br><br>
            <li>Adicionar funcionalidade de notificações push</li>
            <li>Melhorar a interface de usuário</li>
            <li>Implementar autenticação de usuário</li>
            <li>Corrigir erros de sincronização</li>
            <li>Criar uma função de busca aprimorada</li>
            <li>Integrar com calendários externos</li>
            <br>
        <p>
            O Product Owner trabalharia com a equipe de desenvolvimento para priorizar esses itens com base nas
            necessidades do
            cliente e no valor de negócio. Os itens mais cruciais, como a funcionalidade de notificações push,
            seriam colocados no
            topo do Product Backlog, enquanto os menos críticos ficariam na parte inferior.
        </p>
        <br>
        <p>
            À medida que o projeto avança e novos requisitos ou feedback do cliente surgem, o Product Owner atualiza
            o Product
            Backlog para garantir que ele continue refletindo a visão em constante evolução do produto. Durante o
            planejamento da
            Sprint, a equipe de desenvolvimento seleciona os itens do Product Backlog para serem trabalhados na
            Sprint Backlog, com
            base na priorização do Product Owner.
        </p>
        <br>
        <p>
            O Product Backlog é um componente vital no Scrum, pois ajuda a manter o foco no valor do cliente, a
            tomar decisões
            informadas sobre o que deve ser desenvolvido em seguida e a garantir que o projeto permaneça adaptável
            às mudanças. Na figura a seguir notam-se algumas caracteristicas do backlog e como, na prática, ele pode
            auxiliar o time Scrum.
        </p>

        <div class="img" style="scale: 0.6;">
            <img src="{{ url_for('static', filename='/imgs/productBacklog.png') }}" alt=" Product Backlog">
        </div>
    </div>

    <div class="boxPergunta">
        <div class="perguntasHeader">
            <p>Multipla Escolha</p>
        </div>

        <div class="perguntasTexto">
            Qual é o papel do Product Owner em relação ao Product Backlog no método Scrum?
        </div>

        <div class="boxAlternativas">
            <form>
                <div class="alternativas">
                    <input type="radio" name="resp">
                    <label>a) O Product Backlog é uma lista estática de tarefas que a equipe de desenvolvimento precisa realizar durante uma Sprint.</label><br>
                </div>

                <div class="alternativas" id="certa">
                    <input type="radio" name="resp">
                    <label>b) O Product Backlog é uma lista dinâmica e prioritizada de todas as funcionalidades, melhorias e correções desejadas para o produto.</label><br>
                </div>

                <div class="alternativas">
                    <input type="radio" name="resp">
                    <label>c) O Product Backlog é exclusivamente mantido pelo Scrum Master para garantir a integridade técnica do produto.</label><br>
                </div>

                <div class="alternativas">
                    <input type="radio" name="resp">
                    <label>d) O Product Backlog é atualizado apenas no início de cada Sprint e não deve ser alterado durante o decorrer da Sprint.</label><br>
                </div>
              </form>
        </div>

        <button class="enviar" id="send"><p>ENVIAR</p></button>
    </div>
</div>

<div class="marginFooter"></div>
{% endblock %}