{% extends "Template.html" %}
{% block content %}

<body style="height: 1100px;">

</body>
<p>Sprint Backlog no Scrum: O Plano de Ação para o Sprint
    O Sprint Backlog é um componente fundamental do método Scrum, servindo como um plano de ação detalhado para uma
    Sprint específica. Este resumo destacará a importância do Sprint Backlog e suas principais características.</p>

<p> Características Principais do Sprint Backlog:</p>
<ol>
    <li> Seleção de Tarefas: Durante o Sprint Planning, a equipe de desenvolvimento seleciona itens do Product Backlog
        para
        serem incluídos no Sprint Backlog. Essas tarefas são aquelas que a equipe se compromete a concluir durante a
        Sprint.</li>
    <li>Detalhamento das Tarefas: O Sprint Backlog descreve cada tarefa em detalhes. Isso inclui a definição clara do
        que
        deve ser feito, os critérios de aceitação e quaisquer informações relevantes para a conclusão da tarefa.</li>
    <li>Estimativas de Esforço: Cada tarefa no Sprint Backlog é estimada em termos de esforço necessário para
        concluí-la.</li>
    Isso ajuda a equipe a planejar seu trabalho de forma eficaz.</li>
    <li>Compromisso da Equipe: Ao final do Sprint Planning, a equipe faz um compromisso com as tarefas do Sprint
        Backlog,
        concordando em concluir o trabalho dentro da Sprint</li>
</ol>

<div class="img">
    <img src="{{ url_for('static', filename='sprintBacklog.png') }}"" alt="Sprint Backlog">
</div>
<p>Benefícios do Sprint Backlog:</p>
<ul>
    <li> Foco: Mantém a equipe focada nas tarefas prioritárias para a Sprint, evitando distrações e mudanças de última
        hora.
    <li> Visibilidade: Torna o trabalho planejado visível para todos os membros da equipe, promovendo a transparência.
    </li>
    <li> Coordenação: Ajuda a equipe a coordenar suas atividades diárias durante a Sprint, mantendo todos alinhados com
        os
        objetivos.</li>
    <li> Responsabilidade Compartilhada: Reforça o compromisso da equipe com o trabalho planejado, criando uma
        responsabilidade compartilhada pelo sucesso da Sprint.</li>
    <li> Acompanhamento do Progresso: Facilita o rastreamento do progresso das tarefas durante a Sprint, permitindo
        ajustes
        conforme necessário.</li>
</ul>
<p> Em resumo, o Sprint Backlog é uma ferramenta essencial no Scrum que transforma o plano de alto nível do Sprint em
    ações detalhadas. Ele auxilia na execução eficaz do trabalho planejado, mantendo a equipe alinhada com as metas e
    prioridades da Sprint e contribuindo para o sucesso do projeto ágil.</p>

{% endblock %}