{% extends "Template.html" %}
{% block content %}

<body style="height: 2100px">

</body>

<p> <span style="font-weight: bold;"> O que é:</span> O Sprint Backlog é uma seleção dos itens do Product Backlog que a equipe se compromete a concluir durante uma Sprint específica.</p>
<p> <span style="font-weight: bold;">Função:</span> Ele é literalmente um plano de trabalho passo a passo para a Sprint atual, contendo tarefas específicas que a equipe deseja realizar durante o período definido de trabalho naquela determinada sprint.</p>
<p> <span style="font-weight: bold;">Responsável:</span>A equipe de desenvolvimento vai criar o Sprint Backlog durante a reunião de planejamento da Sprint, com base na priorização do Product Backlog.
<p>
    O Sprint Backlog (Lista de Itens da Sprint) é um dos principais artefatos do Scrum e desempenha um papel essencial na gestão do trabalho durante uma Sprint. Ele é uma seleção dos itens mais importantes do Product Backlog que a equipe de desenvolvimento se compromete a concluir durante a Sprint atual. Vamos aprofundar a compreensão do Sprint Backlog:
</p>
<h3>Características do Sprint Backlog:</h3>

<p> <span style="font-weight: bold;">Seleção Limitada:</span> O Sprint Backlog contém apenas um subconjunto dos itens do Product Backlog que a equipe planeja realizar durante a Sprint. Essa seleção é feita durante a reunião de planejamento da Sprint.</p>

<p> <span style="font-weight: bold;"> Tarefas e Detalhes:</span> Os itens do Sprint Backlog são desdobrados em tarefas detalhadas. Cada membro da equipe sabe quais tarefas precisa realizar para concluir os itens atribuídos.</p>

<p> <span style="font-weight: bold;">Propriedade da Equipe:</span> A equipe de desenvolvimento é responsável por criar e gerenciar o Sprint Backlog. Ela tem autonomia para determinar como as tarefas serão realizadas.</p>

<h3>Funções do Sprint Backlog:</h3>

<p> <span style="font-weight: bold;">Foco da Sprint:</span> O Sprint Backlog define o trabalho que será realizado durante a Sprint, concentrando-se nos itens mais importantes do Product Backlog.</p>

<p> <span style="font-weight: bold;">Planejamento Detalhado:</span> Ele serve como base para o planejamento detalhado da Sprint. A equipe identifica as tarefas necessárias para implementar os itens do Sprint Backlog.</p>

<p> <span style="font-weight: bold;">Acompanhamento e Transparência:</span> O Product Backlog é a fonte de trabalho para o Sprint Backlog,
    que é criado durante o planejamento da Sprint. Ele serve como base para a seleção de itens a serem trabalhados na
    Sprint atual.</p>

<p> <span style="font-weight: bold;">Adaptação</span>A transparência é um dos princípios-chave do Scrum. O Product
    Backlog fornece visibilidade sobre o que está por vir no projeto, ajudando a eliminar surpresas e incertezas.</p>

<h3>Exemplo Prático</h3>

<p>
    Imagine um projeto de desenvolvimento de um aplicativo de gerenciamento de tarefas. O Product Backlog para esse
    projeto pode incluir os seguintes itens:
<ul>
    <li>Adicionar funcionalidade de notificações push</li>
    <li>Melhorar a interface de usuário</li>
    <li>Implementar autenticação de usuário</li>
    <li>Corrigir erros de sincronização</li>
    <li>Criar uma função de busca aprimorada</li>
    <li>Integrar com calendários externos</li>
</ul>
<p>
O Product Owner trabalharia com a equipe de desenvolvimento para priorizar esses itens com base nas necessidades do
cliente e no valor de negócio. Os itens mais cruciais, como a funcionalidade de notificações push, seriam colocados no
topo do Product Backlog, enquanto os menos críticos ficariam na parte inferior.
</p>
<p>
À medida que o projeto avança e novos requisitos ou feedback do cliente surgem, o Product Owner atualiza o Product
Backlog para garantir que ele continue refletindo a visão em constante evolução do produto. Durante o planejamento da
Sprint, a equipe de desenvolvimento seleciona os itens do Product Backlog para serem trabalhados na Sprint Backlog, com
base na priorização do Product Owner.
</p>
<p>
O Product Backlog é um componente vital no Scrum, pois ajuda a manter o foco no valor do cliente, a tomar decisões
informadas sobre o que deve ser desenvolvido em seguida e a garantir que o projeto permaneça adaptável às mudanças. Na figura a seguir notam-se algumas caracteristicas do backlog e como, na prática, ele pode auxiliar o time Scrum.
</p>

<div class="img">
    <img src="{{ url_for('static', filename='productBacklog.png') }}"" alt=" Product Backlog">
</div>

{% endblock %}