{% extends "template.html" %}
{% block content %}

<div class="content">
    <h1 id="titulo">{{titulo}}</h1>
    <div class="pacerContent">
        <div class="pacerRoleMain">
            
                <!-- Product Owner -->

            <div id="conteudo">
                <div class="pacerLabel">
                    <div class="pacerRole" style="border-radius: 30px 30px 0 0;">
                        <div class="pacerRoleMargin">
                            <h2>Product Owner</h2>
                        </div>
                    </div>
                    <div class="pacerPoints">
                        <div class="pacerParameters">
                            <p>Proatividade:</p>
                            <p>Autonomia:</p>
                            <p>Colaboração:</p>
                            <p>Entrega de Resultados:</p>
                        </div>
                        <div class="pacerRadios">
                            <div class="pacerRadioLine">
                                <div class="pacerNumbers">
                                    <label class="form-check-label" for="inlineRadio1">0</label>
                                    <br>
                                    <input class="form-check-input" type="radio" name="Produtividade1PO" id="inlineRadio1"
                                        value="option0">
                                </div>
                                <div class="pacerNumbers">
                                    <label class="form-check-label" for="inlineRadio2">1</label>
                                    <br>
                                    <input class="form-check-input" type="radio" name="Produtividade1PO" id="inlineRadio2"
                                        value="option1">
                                </div>
                                <div class="pacerNumbers">
                                    <label class="form-check-label" for="inlineRadio3">2</label>
                                    <br>
                                    <input class="form-check-input" type="radio" name="Produtividade1PO" id="inlineRadio3"
                                        value="option2">
                                </div>
                                <div class="pacerNumbers">
                                    <label class="form-check-label" for="inlineRadio4">3</label>
                                    <br>
                                    <input class="form-check-input" type="radio" name="Produtividade1PO" id="inlineRadio4"
                                        value="option3">
                                </div>
                            </div>
                            <div class="pacerRadioLine">
                                <tr>
                                    <td>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="Autonomia1PO" id="inlineRadio1"
                                                value="option0">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="Autonomia1PO" id="inlineRadio2"
                                                value="option1">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="Autonomia1PO" id="inlineRadio2"
                                                value="option2">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="Autonomia1PO" id="inlineRadio2"
                                                value="option3">
                                        </div>
                                    </td>
                                </tr>
                            </div>
                            <div class="pacerRadioLine">
                                <tr>
                                    <td>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="Colaboracao1PO" id="inlineRadio1"
                                                value="option0">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="Colaboracao1PO" id="inlineRadio2"
                                                value="option1">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="Colaboracao1PO" id="inlineRadio2"
                                                value="option2">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="Colaboracao1PO" id="inlineRadio2"
                                                value="option3">
                                        </div>
                                    </td>
                                </tr>
                            </div>
                            <div class="pacerRadioLine">
                                <tr>
                                    <td>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="EntResultados1PO" id="inlineRadio1"
                                                value="option0">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="EntResultados1PO" id="inlineRadio2"
                                                value="option1">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="EntResultados1PO" id="inlineRadio2"
                                                value="option2">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="EntResultados1PO" id="inlineRadio2"
                                                value="option3">
                                        </div>
                                    </td>
                                </tr>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Scrum Master -->
                <div class="pacerLabel">
                    <div class="pacerRole">
                        <div class="pacerRoleMargin">
                            <h2>Scrum Master</h2>
                        </div>
                    </div>
                    <div class="pacerPoints">
                        <div class="pacerParameters">
                            <p>Proatividade:</p>
                            <p>Autonomia:</p>
                            <p>Colaboração:</p>
                            <p>Entrega de Resultados:</p>
                        </div>
                        <div class="pacerRadios">
                            <div class="pacerRadioLine">
                                <div class="pacerNumbers">
                                    <label class="form-check-label" for="inlineRadio1">0</label>
                                    <br>
                                    <input class="form-check-input" type="radio" name="Produtividade1SM" id="inlineRadio1"
                                        value="option0">
                                </div>
                                <div class="pacerNumbers">
                                    <label class="form-check-label" for="inlineRadio2">1</label>
                                    <br>
                                    <input class="form-check-input" type="radio" name="Produtividade1SM" id="inlineRadio2"
                                        value="option1">
                                </div>
                                <div class="pacerNumbers">
                                    <label class="form-check-label" for="inlineRadio3">2</label>
                                    <br>
                                    <input class="form-check-input" type="radio" name="Produtividade1SM" id="inlineRadio3"
                                        value="option2">
                                </div>
                                <div class="pacerNumbers">
                                    <label class="form-check-label" for="inlineRadio4">3</label>
                                    <br>
                                    <input class="form-check-input" type="radio" name="Produtividade1SM" id="inlineRadio4"
                                        value="option3">
                                </div>
                            </div>
                            <div class="pacerRadioLine">
                                <tr>
                                    <td>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="Autonomia1SM" id="inlineRadio1"
                                                value="option0">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="Autonomia1SM" id="inlineRadio2"
                                                value="option1">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="Autonomia1SM" id="inlineRadio2"
                                                value="option2">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="Autonomia1SM" id="inlineRadio2"
                                                value="option3">
                                        </div>
                                    </td>
                                </tr>
                            </div>
                            <div class="pacerRadioLine">
                                <tr>
                                    <td>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="Colaboracao1SM" id="inlineRadio1"
                                                value="option0">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="Colaboracao1SM" id="inlineRadio2"
                                                value="option1">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="Colaboracao1SM" id="inlineRadio2"
                                                value="option2">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="Colaboracao1SM" id="inlineRadio2"
                                                value="option3">
                                        </div>
                                    </td>
                                </tr>
                            </div>
                            <div class="pacerRadioLine">
                                <tr>
                                    <td>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="EntResultados1SM" id="inlineRadio1"
                                                value="option0">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="EntResultados1SM" id="inlineRadio2"
                                                value="option1">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="EntResultados1SM" id="inlineRadio2"
                                                value="option2">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="EntResultados1SM" id="inlineRadio2"
                                                value="option3">
                                        </div>
                                    </td>
                                </tr>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Dev Team 1 -->
                <div class="pacerLabel">
                    <div class="pacerRole">
                        <div class="pacerRoleMargin">
                            <h2>Dev Team 1</h2>
                        </div>
                    </div>
                    <div class="pacerPoints">
                        <div class="pacerParameters">
                            <p>Proatividade:</p>
                            <p>Autonomia:</p>
                            <p>Colaboração:</p>
                            <p>Entrega de Resultados:</p>
                        </div>
                        <div class="pacerRadios">
                            <div class="pacerRadioLine">
                                <div class="pacerNumbers">
                                    <label class="form-check-label" for="inlineRadio1">0</label>
                                    <br>
                                    <input class="form-check-input" type="radio" name="Produtividade1DT" id="inlineRadio1"
                                        value="option0">
                                </div>
                                <div class="pacerNumbers">
                                    <label class="form-check-label" for="inlineRadio2">1</label>
                                    <br>
                                    <input class="form-check-input" type="radio" name="Produtividade1DT" id="inlineRadio2"
                                        value="option1">
                                </div>
                                <div class="pacerNumbers">
                                    <label class="form-check-label" for="inlineRadio3">2</label>
                                    <br>
                                    <input class="form-check-input" type="radio" name="Produtividade1DT" id="inlineRadio3"
                                        value="option2">
                                </div>
                                <div class="pacerNumbers">
                                    <label class="form-check-label" for="inlineRadio4">3</label>
                                    <br>
                                    <input class="form-check-input" type="radio" name="Produtividade1DT" id="inlineRadio4"
                                        value="option3">
                                </div>
                            </div>
                            <div class="pacerRadioLine">
                                <tr>
                                    <td>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="Autonomia1DT" id="inlineRadio1"
                                                value="option0">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="Autonomia1DT" id="inlineRadio2"
                                                value="option1">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="Autonomia1DT" id="inlineRadio2"
                                                value="option2">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="Autonomia1DT" id="inlineRadio2"
                                                value="option3">
                                        </div>
                                    </td>
                                </tr>
                            </div>
                            <div class="pacerRadioLine">
                                <tr>
                                    <td>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="Colaboracao1DT" id="inlineRadio1"
                                                value="option0">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="Colaboracao1DT" id="inlineRadio2"
                                                value="option1">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="Colaboracao1DT" id="inlineRadio2"
                                                value="option2">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="Colaboracao1DT" id="inlineRadio2"
                                                value="option3">
                                        </div>
                                    </td>
                                </tr>
                            </div>
                            <div class="pacerRadioLine">
                                <tr>
                                    <td>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="EntResultados1DT" id="inlineRadio1"
                                                value="option0">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="EntResultados1DT" id="inlineRadio2"
                                                value="option1">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="EntResultados1DT" id="inlineRadio2"
                                                value="option2">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="EntResultados1DT" id="inlineRadio2"
                                                value="option3">
                                        </div>
                                    </td>
                                </tr>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="display: flex; justify-content: center; width: 100%; padding-top: 20px;">
                <button type="button" id="removerUltimoCodigo" class="btn btn-primary"
                    style="background-color: transparent; border: none; cursor: pointer;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
                        class="bi bi-dash-circle-fill" viewBox="0 0 16 16">
                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h7a.5.5 0 0 0 0-1h-7z" />
                    </svg>
                </button>
                <button type="button" id="adicionarCodigo" class="btn btn-danger"
                    style="background-color: transparent; border: none; cursor: pointer;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
                        class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                        <path
                            d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z" />
                    </svg>
            </div>
        </div>
    </div>
</div>
<script>


    var numero = 1;
    var alturaAdicional = 300; // Altura adicional desejada em pixels

    function ajustarAlturaBarraVertical() {
        const barraVertical = document.querySelector(".indice");
        const conteudo = document.getElementById("conteudo");

        if (barraVertical && conteudo) {
            const alturaConteudo = conteudo.scrollHeight + alturaAdicional;
            barraVertical.style.height = alturaConteudo + "px";
        }
    }

    function adicionarCodigo() {
        numero++;
        var novoCodigo = gerarCodigoHTML(numero);
        var conteudo = document.getElementById("conteudo");
        conteudo.insertAdjacentHTML("beforeend", novoCodigo);
        ajustarAlturaBarraVertical();
    }

    function removerUltimoCodigo() {
        var conteudo = document.getElementById("conteudo");
        var elementos = conteudo.getElementsByClassName("codigo");
        if (elementos.length > 0) {
            conteudo.removeChild(elementos[elementos.length - 1]);
            numero--;
            ajustarAlturaBarraVertical();
        }
    }

    function gerarCodigoHTML(numero) {
        return `
        <!-- Dev Team ${numero} -->
            <div class="codigo">
                <div class="pacerLabel">
                    <div class="pacerRole">
                        <div class="pacerRoleMargin">
                            <h2>Dev Team ${numero}</h2>
                        </div>
                    </div>
                    <div class="pacerPoints">
                        <div class="pacerParameters">
                            <p>Proatividade:</p>
                            <p>Autonomia:</p>
                            <p>Colaboração:</p>
                            <p>Entrega de Resultados:</p>
                        </div>
                        <div class="pacerRadios">
                            <div class="pacerRadioLine">
                                <div class="pacerNumbers">
                                    <label class="form-check-label" for="inlineRadio1">0</label>
                                    <br>
                                    <input class="form-check-input" type="radio" name="Produtividade${numero}DT" id="inlineRadio1"
                                        value="option0">
                                </div>
                                <div class="pacerNumbers">
                                    <label class="form-check-label" for="inlineRadio2">1</label>
                                    <br>
                                    <input class="form-check-input" type="radio" name="Produtividade${numero}DT" id="inlineRadio2"
                                        value="option1">
                                </div>
                                <div class="pacerNumbers">
                                    <label class="form-check-label" for="inlineRadio3">2</label>
                                    <br>
                                    <input class="form-check-input" type="radio" name="Produtividade${numero}DT" id="inlineRadio3"
                                        value="option2">
                                </div>
                                <div class="pacerNumbers">
                                    <label class="form-check-label" for="inlineRadio4">3</label>
                                    <br>
                                    <input class="form-check-input" type="radio" name="Produtividade${numero}DT" id="inlineRadio4"
                                        value="option3">
                                </div>
                            </div>
                            <div class="pacerRadioLine">
                                <tr>
                                    <td>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="Autonomia${numero}DT" id="inlineRadio1"
                                                value="option0">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="Autonomia${numero}DT" id="inlineRadio2"
                                                value="option1">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="Autonomia${numero}DT" id="inlineRadio2"
                                                value="option2">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="Autonomia${numero}DT" id="inlineRadio2"
                                                value="option3">
                                        </div>
                                    </td>
                                </tr>
                            </div>
                            <div class="pacerRadioLine">
                                <tr>
                                    <td>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="Proatividade${numero}DT" id="inlineRadio1"
                                                value="option0">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="Proatividade${numero}DT" id="inlineRadio2"
                                                value="option1">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="Proatividade${numero}DT" id="inlineRadio2"
                                                value="option2">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="Proatividade${numero}DT" id="inlineRadio2"
                                                value="option3">
                                        </div>
                                    </td>
                                </tr>
                            </div>
                            <div class="pacerRadioLine">
                                <tr>
                                    <td>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="EntResultados${numero}DT" id="inlineRadio1"
                                                value="option0">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="EntResultados${numero}DT" id="inlineRadio2"
                                                value="option1">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="EntResultados${numero}DT" id="inlineRadio2"
                                                value="option2">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="EntResultados${numero}DT" id="inlineRadio2"
                                                value="option3">
                                        </div>
                                    </td>
                                </tr>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    `;
    }
    document.getElementById("adicionarCodigo").addEventListener("click", function () {
        adicionarCodigo();
    });

    document.getElementById("removerUltimoCodigo").addEventListener("click", function () {
        removerUltimoCodigo();
    });

    // Chame a função quando a página for carregada e sempre que houver redimensionamento da janela.
    window.addEventListener("load", ajustarAlturaBarraVertical);
    window.addEventListener("resize", ajustarAlturaBarraVertical);


</script>
{% endblock %}