<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./static/CSS/Stylesheet.css">
</head>

<body>
    <div class="cover">
        <div style="display: flex;justify-content: center; padding-top: 21px;">
            <div class="topNavBar">
                <img class="imageLogo" src="./static/Logo-Preta.png" alt="Logo">
                <div style="display: flex; width: 100%; justify-content: end; margin-right: 61px;">
                    <a class="startButton" href="/Scrum">
                        <button class="startButton">Começar</button>
                    </a>
                </div>
            </div>
        </div>
        <div style="display: flex; justify-content: center; padding-top: 100px;">
            <div>
                <h3 class="mainTxt">Aprendendo a <br>Metodologia Scrum</h3>
                <div style="display: flex; justify-content: center; margin-top: -30px; margin-bottom: 30px;">
                    <p class="subTxt">Empodere seu time com a metodologia de desenvolvimento ágil</p>
                </div>
                <div style="display: flex; width: 100%; justify-content: center;">
                    <a class="startButton2" href="/Scrum">
                        <button class="startButton2">Começar</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div style="display: flex; padding-top: 16px; padding-left: 10%; padding-right: 10%;">
            <div style="padding-right: 10%; padding-top: 100px;">
                <p class="colorTxt">DETALHES</p>
                <h4 class="topicTxt" style="margin-top: -6px;">Por que escolher o Scrum ?</h4>
                <p class="describeTxt">O Scrum, uma abordagem ágil que revolucionou a maneira como equipes colaboram e
                    entregam produtos, pode
                    parecer complexo à primeira vista. No entanto, estamos aqui para desmistificar esse processo e
                    torná-lo
                    acessível a todos, desde iniciantes até profissionais experientes.</p>
            </div>
            <img class="circleImg" src="./static/Imagem-Circular.jpg" alt="">

        </div>
    </div>
    <div style="padding-bottom: 8%;">
        <div style="display: flex; padding-top: 150px; padding-left: 10%; padding-right: 10%;">
            <div>
                <p class="colorTxt">FAQ</p>
                <h4 class="topicTxt" style="margin-top: -6px;">Perguntas Comuns</h4>
                <p class="describeTxt">Essa são algumas das perguntas mais comuns que recebemos</p>
            </div>
            <div style="padding-left: 10%; padding-right: 10%;">
                <p class="question">Oque é Scrum ?</p>
                <p class="describeTxt">O Scrum é um Framework ágil que ajuda um time no desenvolvimento e entrega de
                    produtos complexos.</p>
                <p class="question">Quais são as principais funções do Scrum ?</p>
                <p class="describeTxt">As principais funções do Scrum são: Product Owner, Scrum Master e Dev Team.</p>
                <p class="question">Qual é o papel do Product Owner ?</p>
                <p class="describeTxt">O Product Owner é responsavel por avaliar a complexidade do produto, e gerenciar
                    o product backlog.</p>
                <p class="question">Qual é o papel do Scrum Master ?</p>
                <p class="describeTxt">O papel do Scrum Master é garantir que o método Scrum está sendo seguido pelo
                    time, e remover obstaculos que impeçam o progresso do time.</p>
                <p class="question">Qual é o papel do Dev Team ?</p>
                <p class="describeTxt">O Dev Team é responsável por realizar as entregas do produto no fim de cada
                    sprint.</p>
            </div>

        </div>
    </div>
    <div style="background-color: black; display: flex; justify-content: center; width: 100%;">
        <div style="width: 80%;">
            <div style="display: flex; justify-content: center; padding-bottom: 30px;">
                <img class="imageLogo" style="padding-top: 30px;"
                    src="./static/Logo-Branco.png" alt="Logo">
            </div>
            <div style="background: #595959; height: 1px;"></div>
            <div style="display: flex; justify-content: start; padding-top: 10px; padding-bottom: 4%;">
                <p style="color: white;">© 2023 myCompany, All Rights Reserved.</p>
            </div>
        </div>
    </div>
</body>

</html>