{% extends "Template.html" %}

{% block content %}

    <p style="margin: auto 20px auto auto; text-align: justify;">O processo Scrum é um framework amplamente adotado no contexto do gerenciamento ágil de projetos, e sua ênfase na colaboração e entrega de valor de maneira iterativa e incremental o torna uma metodologia altamente eficaz. Este processo envolve uma série de etapas e atividades cuidadosamente estruturadas para guiar as equipes no desenvolvimento de produtos com eficiência e eficácia.

    <br>
    <br>

    Para entender completamente o Scrum, é fundamental analisar os principais componentes que compõem esse processo: 1.Scrum Daily; 2.Sprint Planning; 3.Sprint Review;
    </p>

    <img src="{{url_for('static', filename='imgs/processos.svg')}}" alt="" style="width: 450px; height: 375px; border: 5px #96dbe6 solid; border-radius: 4px; display: flex; margin: 20px auto auto auto;">

{% endblock %}