{% extends "Template.html" %}
{% block content %}

<p>Os processos no método Scrum são as etapas e atividades fundamentais que as equipes seguem para gerenciar projetos e
    desenvolver produtos de forma ágil. Esses processos são projetados para promover a colaboração, a transparência e a
    entrega de valor de maneira iterativa e incremental. Os principais processos do Scrum incluem:</p>

<div class="img">
    <img src="{{ url_for('static', filename='processos.png') }}"" alt=" Processos">
</div>
<ol>
    <li>Sprint: O Scrum organiza o trabalho em ciclos chamados Sprints. Cada Sprint tem uma duração fixa, geralmente de
        2 a
        4 semanas, durante a qual a equipe trabalha para entregar um incremento potencialmente entregável do produto.
        Backlog do Produto: É uma lista priorizada de todas as funcionalidades, melhorias e requisitos do produto. O
        Product
        Owner é responsável por definir e priorizar os itens no Backlog do Produto com base nas necessidades dos
        clientes e
        partes interessadas.</li>
    <li>Sprint Planning: No início de cada Sprint, a equipe realiza uma reunião de planejamento para selecionar as
        tarefas
        que serão concluídas durante o Sprint. O Product Owner e o Dev Team colaboram para definir as metas do Sprint e
        selecionar as tarefas do Backlog do Produto.</li>
    <li>Daily Scrum: Uma reunião diária curta (cerca de 15 minutos) em que o Dev Team compartilha atualizações sobre o
        progresso, discute desafios e coordena as atividades do dia. O foco é manter todos os membros da equipe
        alinhados e
        resolver problemas rapidamente.</li>
    <li>Sprint Review: Ao final de cada Sprint, a equipe realiza uma reunião de revisão para apresentar o trabalho
        concluído
        ao Product Owner e outros stakeholders. Isso permite obter feedback valioso e ajustar as prioridades para o
        próximo
        Sprint.</li>
    <li>Sprint Retrospective: Após a Sprint Review, a equipe realiza uma retrospectiva para analisar o que funcionou bem
        e o
        que pode ser melhorado no processo de trabalho. O objetivo é identificar maneiras de aprimorar o processo para
        futuras Sprints.</li>
    <li>Adaptação Contínua: O Scrum promove a adaptação contínua com base no feedback e nas lições aprendidas. Isso
        inclui a
        atualização do Backlog do Produto e a melhoria dos processos de trabalho para aumentar a eficiência e a entrega
        de
        valor.</li>
    <li>Papéis Essenciais: Além dos processos em si, o Scrum define papéis essenciais, como o Product Owner, o Scrum
        Master
        e o Dev Team, cada um com responsabilidades específicas na execução desses processos.
        Esses processos são projetados para permitir que as equipes respondam de forma ágil às mudanças e entreguem
        produtos
        de alta qualidade de maneira incremental. Eles promovem a colaboração, a comunicação eficaz e a transparência em
        todo o ciclo de desenvolvimento do produto.</li>

</ol>
{% endblock %}