{% extends "Template.html" %}
{% block content %}

<body style="height: 1100px;">

</body>

<p>Scrum Daily (Daily Scrum): Uma Reunião Diária para Alinhar e Avançar</p>

<p>O Scrum Daily, também conhecido como Daily Scrum ou Daily Standup, é uma reunião curta e diária no método Scrum. Esta
    reunião tem como objetivo principal manter a equipe de desenvolvimento alinhada, informada e eficiente durante o
    ciclo de desenvolvimento de um projeto ou produto.</p>

<p> Características Principais do Scrum Daily:</p>

<ol>
    <li>Curta Duração: O Scrum Daily é uma reunião breve, geralmente com duração de 15 minutos ou menos. Isso incentiva
        a
        concisão e o foco.</li>
    <li>Frequência Diária: Acontece todos os dias, idealmente no mesmo horário e local, para manter a regularidade.</li>
    <li>Posição de Pé (Standup): A equipe se reúne fisicamente em pé (daí o termo "Standup") para promover brevidade e
        manter todos atentos.</li>
</ol>

<div class="img">
    <img src="{{ url_for('static', filename='scrumDaily.png') }}"" alt=" Scrum Daily">
</div>
<p>Objetivos do Scrum Daily:</p>
<ol>
    <li>Atualização de Progresso: Cada membro da equipe compartilha o que fez desde a última reunião, o que planeja
        fazer até a
        próxima e quaisquer obstáculos encontrados.</li>
    <li>Coordenação da Equipe: A reunião permite que a equipe coordene atividades, evite duplicação de esforços e
        garanta que
        todos estejam trabalhando na mesma direção.</li>
    <li>Identificação de Obstáculos: Qualquer impedimento ou obstáculo que esteja afetando o progresso do trabalho é
        identificado, para que a equipe possa resolvê-lo o mais rápido possível.</li>
    <li>Revisão de Metas: A equipe pode revisar as metas do Sprint e ajustar o plano de ação, se necessário, com base no
        progresso e nas mudanças.</li>
</ol>
Benefícios do Scrum Daily:
<ul>
    <li>Comunicação Eficaz: Facilita a comunicação entre membros da equipe, identificando problemas e garantindo que
        todos
        estejam atualizados.</li>
    <li>Transparência: Torna o progresso do trabalho visível para todos, promovendo a transparência no processo.</li>
    <li>Tomada de Decisão Rápida: Identifica impedimentos e problemas que podem ser resolvidos rapidamente, evitando
        atrasos.</li>
    <li>Foco e Responsabilidade: Ajuda a manter o foco nas metas do Sprint e responsabiliza os membros da equipe por
        suas
        tarefas.</li>
</ul>
<p>Em resumo, o Scrum Daily é uma reunião breve e diária essencial no método Scrum, projetada para manter a equipe de
    desenvolvimento alinhada, informada e capaz de responder eficazmente às mudanças e desafios ao longo do projeto.</p>

{% endblock %}