{% extends "Template.html" %}
{% block content %}

Sprint Planning no Scrum: Definindo o Caminho para o Sucesso
<p>O Sprint Planning é uma reunião crucial no método Scrum, realizada no início de cada Sprint (um ciclo de
    desenvolvimento de curto prazo). Nesta reunião, a equipe de desenvolvimento colabora com o Product Owner para
    estabelecer as metas do Sprint e determinar quais tarefas serão concluídas durante esse período.</p>

<p> Principais Aspectos do Sprint Planning:</p>
<ol>
    <li>Definição de Objetivos: O Product Owner apresenta os objetivos do Sprint, detalhando o que deve ser alcançado e
        por
        que isso é importante. Isso cria uma visão clara do que a equipe está buscando.</li>
    <li> Revisão do Backlog do Produto: A equipe analisa o Backlog do Produto, uma lista priorizada de funcionalidades e
        requisitos do produto. Eles discutem os itens no topo do Backlog, que são considerados para o Sprint.</li>
    <li>Seleção de Tarefas: Com base nos objetivos do Sprint e na capacidade da equipe, são selecionadas as tarefas a
        serem
        realizadas durante o Sprint. Isso é conhecido como o Sprint Backlog.</li>
    <li>Estimativas de Esforço: A equipe discute o esforço necessário para completar cada tarefa, usando técnicas como o
    <li>Planning Poker para estimar o tempo ou complexidade.</li>
    <li>Compromisso da Equipe: Ao final da reunião, a equipe faz um compromisso (commitment) para concluir as tarefas
        selecionadas durante o Sprint. Isso cria uma responsabilidade compartilhada.</li>
</ol>
<div class="img">
    <img src="{{ url_for('static', filename='sprintPlanning.png') }}"" alt=" Sprint Planning">
</div>
<p>Benefícios do Sprint Planning:</p>
<ul>
    <li>Alinhamento: Garante que todos na equipe tenham uma compreensão clara dos objetivos e das tarefas do Sprint.
    </li>
    <li>Transparência: Torna o planejamento e as prioridades visíveis, promovendo a transparência no processo.</li>
    <li> Foco: Ajuda a manter a equipe concentrada em metas específicas e evita a dispersão.</li>
    <li> Estimativas Precisas: Permite que a equipe faça estimativas de esforço mais precisas para planejar o trabalho.
    </li>
</ul>
<p> Em resumo, o Sprint Planning é uma reunião fundamental no Scrum que estabelece o cenário para o Sprint. Ele cria um
    plano claro, alinhado com os objetivos do projeto, permitindo que a equipe trabalhe de forma eficaz e concentre-se
    na entrega de valor ao cliente.
</p>
{% endblock %}