{% extends "Template.html" %}
{% block content %}

<body style="height: 1100px;">

</body>
<p>Dev Team no Método Scrum: Executores da Inovação e Entrega</p>

<p> O Dev Team, ou Time de Desenvolvimento, é um elemento central do método Scrum, desempenhando um papel essencial na
    criação e entrega de produtos de alta qualidade. Este resumo destaca as principais responsabilidades e
    características do Dev Team no contexto do Scrum.</p>

<p> O Papel do Dev Team</p>

O Dev Team é um grupo de profissionais multifuncionais e auto-organizados que trabalham juntos para concretizar os
objetivos do Sprint e entregar valor ao cliente. Eles são os executantes das tarefas e responsáveis por transformar
as necessidades do cliente em produtos funcionais.</p>

<div class="img">
    <img src="{{ url_for('static', filename='devTeam.png') }}"" alt=" Dev Team">
</div>
<p>Responsabilidades-Chave do Dev Team</p>
<ol>
    <li>Desenvolvimento de Funcionalidades: O Dev Team projeta, desenvolve, testa e entrega funcionalidades de acordo
        com as
        prioridades definidas no Backlog do Produto.</li>
    <li></li>Auto-Organização: Eles são responsáveis por organizar seu próprio trabalho e tomar decisões técnicas para
    alcançar os
    objetivos da Sprint.</li>
    <li>Colaboração Constante: O Dev Team trabalha em estreita colaboração com o Product Owner para compreender e
        refinar os
        requisitos, garantindo que o trabalho realizado seja valioso para o cliente.</li>
    <li>Comprometimento com os Objetivos da Sprint: Durante uma Sprint, o Dev Team está comprometido com a conclusão das
        tarefas
        definidas no Sprint Backlog.</li>
    <li>Adaptação Contínua: Eles se adaptam às mudanças de requisitos e feedback do Product Owner para garantir que o
        produto
        atenda às necessidades em constante evolução.</li>
</ol>
<p>Conclusão</p>
<p>O Dev Team é o núcleo operacional do Scrum, responsável por transformar ideias em produtos reais e valiosos. Sua
    colaboração, habilidades técnicas e compromisso com os objetivos do Sprint são fundamentais para o sucesso do método
    Scrum. Em resumo, o Dev Team é a força motriz por trás da agilidade do Scrum, entregando valor aos clientes de forma
    iterativa e constante.</p>


{% endblock %}