{% extends "Template.html" %}
{% block content %}

<body style="height: 1100px;">

</body>
<p>Product Owner no Método Scrum: Navegando o Rumo ao Sucesso</p>

<p>No método Scrum, o Product Owner desempenha um papel vital como a voz dos clientes e stakeholders. Este resumo
    destaca a importância e responsabilidades do Product Owner em garantir a entrega de valor ao cliente de forma
    eficaz.</p>

<p> O Papel do Product Owner
    O Product Owner é o elo entre a equipe de desenvolvimento e os interessados no produto. Sua função é garantir que o
    produto atenda às necessidades e expectativas dos clientes. Isso inclui a definição e priorização do Backlog do
    Produto, que é uma lista de funcionalidades, melhorias e requisitos.</p>

<div class="img">
    <img src="{{ url_for('static', filename='productOwner.png') }}"" alt=" Product Owner">
</div>
<p>Responsabilidades-Chave do Product Owner</p>
<ol>
    <li>Definir e Priorizar o Backlog do Produto: O Product Owner identifica o que deve ser construído ou aprimorado,
        com base
        nas necessidades dos clientes e no valor que cada item agrega. Ele prioriza o Backlog para orientar o
        desenvolvimento.</li>

    <li>Comunicar a Visão do Produto: O Product Owner mantém uma visão clara e compartilhada do produto, garantindo que
        todos na
        equipe tenham uma compreensão unificada dos objetivos e metas.</li>

    <li>Tomar Decisões Rápidas: Em cada Sprint, o Product Owner toma decisões ágeis sobre o que deve ser desenvolvido,
        esclarecendo dúvidas da equipe e ajustando o Backlog conforme necessário.</li>
    <li>Aceitar ou Rejeitar Entregas: Após cada Sprint, o Product Owner avalia o trabalho concluído e decide se atende
        aos
        critérios de aceitação definidos. Isso garante que o produto seja sempre de alta qualidade e alinhado com as
        expectativas.</li>
    <li>Ser o Guardião do Valor do Produto: O Product Owner está constantemente preocupado em entregar o máximo valor
        possível
        ao cliente. Ele busca oportunidades de melhoria e ajusta o Backlog de acordo.</li>
</ol>
<p>Conclusão</p>
<p>O Product Owner é uma peça central no sucesso do Scrum, pois sua responsabilidade é garantir que o produto atenda às
    necessidades do cliente e gere valor. Sua habilidade em definir prioridades, comunicar uma visão clara e tomar
    decisões
    rápidas é essencial para o progresso do projeto. Em resumo, o Product Owner é a chave para transformar ideias em
    produtos reais que encantam os clientes</p>
{% endblock %}