{% extends "Template.html" %}
{% block content %}

<body style="height:912px">

</body>
<p> O Scrum Team, no contexto da metodologia ágil Scrum, desempenha um papel fundamental no desenvolvimento de projetos
    complexos. Este time é composto por três papéis principais: o Scrum Master, o Product Owner e o Development Team. O
    Scrum Master é responsável por garantir que a equipe siga os princípios do Scrum, removendo obstáculos e facilitando
    o processo. O Product Owner representa os interesses do cliente e define as prioridades do backlog do produto. Já o
    Development Team é composto pelos profissionais que realizam o trabalho de desenvolvimento, colaborando de forma
    auto-organizada e multifuncional para entregar incrementos de produto a cada Sprint.</p>

<p>A colaboração e a comunicação são valores essenciais para o Scrum Team. Eles se reúnem regularmente em
    eventos-chave, como o Sprint Planning, Daily Scrum, Sprint Review e Sprint Retrospective, para garantir a
    transparência, a inspeção e a adaptação contínua. O Scrum Team é caracterizado pela auto-organização, o que
    significa que os membros têm autonomia para determinar como realizar o trabalho dentro das diretrizes e metas
    estabelecidas. Essa abordagem permite maior flexibilidade e capacidade de resposta às mudanças, tornando o Scrum
    Team uma peça fundamental no sucesso de projetos ágeis.</p>
<div class="img">
    <img src="{{ url_for('static', filename='scrumTeam.png') }}"" alt=" Scrum Team">
</div>

<p>Além disso, a coesão e a colaboração dentro do Scrum Team são essenciais para alcançar a alta performance. Os membros
    do Development Team trabalham juntos de forma interdisciplinar, combinando suas habilidades para entregar valor ao
    cliente a cada Sprint. O Scrum Master atua como um mentor e facilitador, auxiliando a equipe a resolver problemas e
    aprimorar seu processo. Já o Product Owner desempenha um papel crucial na definição das metas claras do produto e na
    priorização das funcionalidades, garantindo que o Scrum Team esteja sempre focado nas necessidades mais importantes
    do cliente. Como resultado, o Scrum Team se torna uma unidade coesa e altamente eficiente, capaz de adaptar-se
    rapidamente às mudanças e entregar produtos de alta qualidade de forma consistente.</p>
{% endblock %}