{% extends "Template.html" %}

{% block content %}

<body style="height: 1248px;">

</body>
<p>Scrum: A Metodologia Ágil que Revoluciona a Gestão de Projetos
    O Scrum é uma abordagem ágil que revolucionou o mundo da gestão de projetos e desenvolvimento de produtos. Baseado
    em três princípios essenciais - transparência, inspeção e adaptação - o Scrum enfatiza a flexibilidade, colaboração
    e entrega de valor.</p>
<div class="img">
    <img src="{{ url_for('static', filename='scrumMetodoAgil.png') }}"" alt=" Scrum Metodo Agil">
</div>
<p>Princípios Fundamentais</p>

<p> A transparência garante que todas as informações relevantes sejam compartilhadas de forma clara e acessível. A
    inspeção envolve a constante avaliação do progresso e dos resultados para identificar oportunidades de melhoria. A
    adaptação permite ajustar o processo rapidamente com base nas inspeções, respondendo a mudanças e aprimorando
    continuamente.
</p>
<p>Estrutura do Scrum
</p>
<p>O Scrum é composto por papéis cruciais, como o Time Scrum (uma equipe auto-organizada), o Product Owner
    (representante dos clientes) e o Scrum Master (facilitador), além de artefatos como o Backlog do Produto e eventos
    como o Sprint. Esses elementos trabalham em conjunto para promover a eficiência e a entrega de valor.
</p>
<p>Benefícios do Scrum
</p> O Scrum oferece uma série de vantagens, incluindo a capacidade de se adaptar rapidamente a mudanças de requisitos e
prioridades, a entrega constante de produtos funcionais, a promoção da colaboração entre equipes e partes interessadas,
e a melhoria contínua por meio do feedback regular.

<p>Implementação do Scrum
</p>
<p>Uma implementação bem-sucedida do Scrum começa com uma equipe Scrum treinada e pequena. O Product Owner mantém um
    Backlog do Produto claro e priorizado. A equipe realiza Sprints regulares, seguindo os rituais definidos. A
    aprendizagem
    contínua baseada no feedback é fundamental para o aprimoramento contínuo.
</p>
<p>Conclusão
</p>
<p>O Scrum é uma metodologia ágil que está moldando a forma como as empresas enfrentam os desafios do desenvolvimento de
    produtos em um mundo em constante evolução. Sua ênfase na flexibilidade, colaboração e melhoria contínua o torna uma
    ferramenta poderosa para impulsionar o sucesso dos projetos e a satisfação dos clientes. Comece a explorar o Scrum e
    experimente uma transformação em sua abordagem de trabalho e entrega de resultados</p>
{% endblock %}