{% extends "Template.html" %}

{% block content %}

<p>O Scrum é um popular framework de gerenciamento de projetos, utilizado principalmente na área de desenvolvimento de software. Criado por Jeff Sutherland, Ken Schwaber e Mike Beedle na decada de 1990, a metodologia ágil Scrum, está sendo adotada por muitas organizações dada a sua abordagem flexível e desenvolvimento eficaz em seus produtos.</p>
<div class="img">
    <img src="{{ url_for('static', filename='scrumMetodoAgil.png') }}" alt=" Scrum Metodo Agil">
</div>
<p> O Scrum visa diminuir o desperdicio e aumentar a qualidade do produto com base nas iterações, ciclos de produção realizados para o aperfeiçoamento de um projeto, que ocorre durante a frase de produção. As iterações funcionam de maneira adaptativa e incorpora o conceito do MVP, o Minimum Viable Product, então ao final de cada iteração a equipe entregará uma versão simples do produto final que será apresentada ao cliente.
</p>
<p>O Método Scrum é composto por uma equipe conhecida como Scrum Team, que é composta de 3 papeis cruciais: O Product Owner, o representante do cliente no grupo, o Scrum Master, um facilitador que ajuda a equipe com a orientação do projeto, e o Development Team, a equipe que realiza o trabalho de desenvolvimento do produto.
</p>
A maior vantagem do Scrum, é a alta adaptabilidade, devido aos processos e artefatos do Scrum, a tarefa de traçar um caminho para o produto final se torna extremamente menos desafiadora e repentina, sendo possivel fazer a transição de prioridades de forma gradual e menos ameaçadora aos desenvolvedores do projeto. Alguns processos do Scrum são: Daily Scrum, uma reunião diária que dura cerca de 15 minutos e o Product Backlog, uma ferramenta que ajuda na organização das tarefas, servindo como uma lista prioritária das funcionalidades.
<p>Para implementar o Scrum, é necessário começar com a educação da equipe, incluindo o Scrum Master e o Product Owner. Também se faz necessário definir o backlog do produto, planejar como serão as sprints e realizar os ritos como Daily Scrum e Sprint Review durante as sprints, para revisar e se adaptar a situação atual do projeto.
</p>
<p>Em Suma, o Scrum é uma abordagem ágil para o desenvolvimento de produtos que enfatiza a colaboração, a adaptação contínua e a entrega de valor. Ele é adequado para projetos complexos e é amplamente utilizado em várias indústrias além da tecnologia.</p>
{% endblock %}