<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{titulo}}</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/stylesheet.css') }}">
</head>

<body>
    <div class="cover">

        <div class="topNavBarBox">

            <div class="topNavBar">

                <img class="imageLogo" src="./static/imgs/logoPreta.png" alt="Logo">

                <div class="startButtonBox">

                    <a class="startButton" href="{{next}}">
                        <button class="startButton">Começar</button>
                    </a>
                </div>
            </div>
        </div>
        <div class="txtHomeBox">

            <div>

                <h3 class="mainTxt">Aprendendo a <br>Metodologia Scrum</h3>

                <div class="subTxtBox">

                    <p class="subTxt">Empodere seu time com a metodologia de desenvolvimento ágil</p>
                </div>

                <div class="startButton2Box">

                    <a class="startButton2" href="{{next}}">
                        <button class="startButton2">Começar</button>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div>

        <div class="txtCorpo">

            <div class="txtCorpoBox">

                <p class="colorTxt">DETALHES</p>

                <h4 class="topicTxt" style="margin-top: -6px;">Por que escolher o Scrum ?</h4>

                <p class="describeTxt">O Scrum, uma abordagem ágil que revolucionou a maneira como equipes colaboram e
                    entregam produtos, pode
                    parecer complexo à primeira vista. No entanto, estamos aqui para desmistificar esse processo e
                    torná-lo
                    acessível a todos, desde iniciantes até profissionais experientes.</p>
            </div>
            
            <img class="circleImg" src="./static/imgs/imagemCircular.jpg" alt="">
        </div>
    </div>

    <div class="corpoFaq">

        <div class='corpoFaqBox'>

            <div>

                <p class="colorTxt">FAQ</p>

                <h4 class="topicTxt" style="margin-top: -6px;">Perguntas Comuns</h4>

                <p class="describeTxt">Essa são algumas das perguntas mais comuns que recebemos</p>
            </div>

            <div class="corpoFaqQuestions">

                <p class="question">Oque é Scrum ?</p>

                <p class="describeTxt">O Scrum é um Framework ágil que ajuda um time no desenvolvimento e entrega de
                    produtos complexos.</p>

                <p class="question">Quais são as principais funções do Scrum ?</p>

                <p class="describeTxt">As principais funções do Scrum são: Product Owner, Scrum Master e Dev Team.</p>

                <p class="question">Qual é o papel do Product Owner ?</p>

                <p class="describeTxt">O Product Owner é responsavel por avaliar a complexidade do produto, e gerenciar
                    o product backlog.</p>

                <p class="question">Qual é o papel do Scrum Master ?</p>

                <p class="describeTxt">O papel do Scrum Master é garantir que o método Scrum está sendo seguido pelo
                    time, e remover obstaculos que impeçam o progresso do time.</p>

                <p class="question">Qual é o papel do Dev Team ?</p>

                <p class="describeTxt">O Dev Team é responsável por realizar as entregas do produto no fim de cada
                    sprint.</p>
            </div>
        </div>
    </div>

    <div class="rodape">

        <div style="width: 80%;">

            <div class="rodapeLogoBox">

                <img class="imageLogo" style="padding-top: 30px;"
                    src="./static/imgs/logoBranco.png" alt="Logo">
            </div>

            <div class="rodapeGreyLine"></div>

            <div class="rodapeCopBox">
                
                <p>© 2023 myCompany, All Rights Reserved.</p>
            </div>
        </div>
    </div>
</body>

</html>